body {
  margin: 0%;
  padding: 0%;
  font-family: 'Raleway', sans-serif;
}

div#banner {
  width: 100%;
  height: 110px;
  background-color: rgb(183, 45, 218);
  box-shadow: 5px 5px 10px  rgba(30, 28, 31, 0.3);
}

h1 {
  font-family: 'Fredoka One', cursive;
  font-size: 60px;
  font-weight: normal;
  color: white;
  margin: 0;
}

#logo{
  left: 1%;
}

#searchbar {
  position: absolute;
  left: 50%;
  transform: translate(160%, -252%);
}

label {
  font-family: 'Lexend', sans-serif;
  color: white;
  font-size: 20px;
}

input {
  font-family: 'Lexend', sans-serif;
  padding: 10px;
  border-radius: 20px;
  border: none;
}



nav {
  position: absolute;
  left: 50%;
  transform: translate(-42%, -354%) ;
}

li {
  font-family: 'Lexend', sans-serif;
  font-size: 20px;
  display: inline;
  padding-right: 15px;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: rgb(142, 255, 50);
}

#volcano {

  width: 60%;
}

#grid1 {

  padding-top: 20px;
}